* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Changa", sans-serif;
  color: azure;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(10, 53, 117, 1) 44%,
    rgba(245, 245, 220, 1) 100%
  );
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav {
  background-color: #000000a9;
}

.content {
  min-width: 900px;
  max-width: 1400px;
  margin: 0 auto;
}

.nav .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav img {
  width: 80px;
  height: 80px;
  padding: 10px;
}

.nav .content li {
  display: inline;
  color: white;
  margin: 0 20px;
  border-bottom: 4px solid #e4ceab;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}
.nav .content li:hover {
  border: 4px solid #e4ceab;
  background-color: rgba(0, 0, 0, 0.53);
}

.nav .content a {
  text-decoration: none;
}

/* End of nav bar */

.section1 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.632),
      rgba(32, 32, 32, 0.701)
    ),
    url("https://i.pinimg.com/564x/2a/98/bd/2a98bda110bafa5adfbc809f3a533f99.jpg");
  height: 400px;
}

.section1 .content {
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section1 .content div h1 {
  font-size: 35px;
  margin-bottom: 20px;
}

.section1 .content div a {
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #e4ceab;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}
.section1 .content div a:hover {
  background-color: #e4ceab00;
  color: aliceblue;
}

.tcontent {
  display: flex;
  justify-content: space-between;
  width: 1300px;
  margin: 0 auto;
}

.tcontent iframe {
  margin-top: 100px;
  border-radius: 12px;
}

.tcontent table {
  border-collapse: collapse;
  border: 3px solid rgb(2, 0, 36);
  margin: 40px 0;
  background-color: #e4ceabc4;
}

.tcontent table th,
td {
  border-collapse: collapse;
  border: 3px solid rgb(2, 0, 36);
  padding: 10px 50px;
}

.tcontent table td:hover {
  background-color: rgba(255, 255, 255, 0.557);
}
table a,
td,
th {
  text-decoration: none;
  color: black;
}

/* Footer */
.footer {
  background-color: black;
  margin-top: auto;
}

.footer .footer-content {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 20px;
}

button {
  width: 120px;
  padding: 10px;
  color: white;
  background-color: black;
  border: 2px solid white;
  margin: 20px;
}
button i {
  font-size: 15px;
  margin-right: 3px;
}
.submit {
  width: 100px;
  padding: 10px;
  color: black;
  background-color: white;
  border: 2px solid black;
  margin: 20px;
}

.submit:hover {
  color: white;
  background-color: black;
  border: 2px solid white;
  cursor: pointer;
}
